.banner
    // Slider main container
    .swiper-container
        // Additional required wrapper
        .swiper-wrapper
            // Slides
            .swiper-slide(style='text-align: center; background-color: black;')
                img(src='./assets/images/banner-1.png', width='auto', height='100%', alt='')
            .swiper-slide(style='text-align: center; background-color: black;')
                img(src='./assets/images/banner-1.png', width='auto', height='100%', alt='')
            .swiper-slide(style='text-align: center; background-color: black;')
                img(src='./assets/images/banner-1.png', width='auto', height='100%', alt='')
        // If we need pagination
        .swiper-pagination
        // If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next
        // If we need scrollbar
        .swiper-scrollbar
