.banner(tabindex="0")
    // Slider main container
    .swiper-container.swiper-container-banner
        // Additional required wrapper
        .swiper-wrapper
            // Slides
            .swiper-slide(style='text-align: center; background-color: black;')
                img(src='./assets/images/banner-2.png', width='auto', height='100%', alt='首頁輪播_第二張')
            .swiper-slide(style='text-align: center; background-color: black;')
                img(src='./assets/images/banner-1.png', width='auto', height='100%', alt='首頁輪播_第一張')
        // If we need pagination
        .swiper-pagination
        // If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next
        // If we need scrollbar
        .swiper-scrollbar
