extends ./layouts/main

block script

block style
    link(rel="stylesheet", href="./lib/datatables/datatables.min.css")

block body
    +header-login(2, 1)

    section#section
        .main-wrap
            .content
                +breadcrumb('首頁 > API市集 > 最新上架')
                +title('最新上架')
                .article-wrap
                    aside#filter.sidebar
                        .sidebar__name
                            .name
                                i.fas.fa-caret-down
                                | &nbsp;機關分類
                            .tip 共83項
                        .sidebar__filter
                            .input
                                select
                                    option test
                                    option test
                                    option test
                        .sidebar__name
                            .name
                                i.fas.fa-caret-down
                                | &nbsp;主題分類
                            .tip 共83項
                        .sidebar__filter
                            .input
                                select
                                    option test
                                    option test
                                    option test
                        .sidebar__name
                            .name
                                i.fas.fa-caret-down
                                | &nbsp;行政區分類
                            .tip 共83項
                        .sidebar__filter
                            .input
                                select
                                    option test
                                    option test
                                    option test
                        .sidebar__name
                            .name
                                i.fas.fa-caret-down
                                | &nbsp;更新時間分類
                            .tip 共83項
                        .sidebar__filter
                            .input
                                select
                                    option test
                                    option test
                                    option test
                        .sidebar__nav.mobile
                            .input
                                #filter_confirm_button.confirm-button 完成

                    article.article
                        table#table.table-style
                            thead
                                tr
                                    th(style="font-weight: bold;") #
                                    th 主題
                                    th 描述
                                    th 建立時間
                                    th 分類
                                    th 點擊次數
                            tbody
                                tr.hover-style(page-href="#")
                                    td 1
                                    td 標題
                                    td 7/15/2019
                                    td
                                    td
                                    td 1,000
                                tr.hover-style(page-href="#")
                                    td 2
                                    td 標題
                                    td 7/15/2019
                                    td
                                    td
                                    td 1,000
                                tr.hover-style(page-href="#")
                                    td 3
                                    td 標題
                                    td 7/15/2019
                                    td
                                    td
                                    td 1,000
                                tr.hover-style(page-href="#")
                                    td 4
                                    td 標題
                                    td 7/15/2019
                                    td
                                    td
                                    td 1,000
                                tr.hover-style(page-href="#")
                                    td 5
                                    td 標題
                                    td 7/15/2019
                                    td
                                    td
                                    td 1,000


block body-end
    script(src="./lib/datatables/datatables.min.js")
    script(src="./lib/ckeditor/ckeditor.js")