extends ./layouts/backstage-login

block script

block style

block body
    +header-backstage-login(1)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside
                    +sidebar(2)
                    article.article
                        .breadcrumb
                            | 首頁 > 內容管理 > 平台緣起
                        +input-bootstrap('input_title', 'title', '標題', '請輸入標題', '', true)
                        +input-bootstrap('input_desc', 'desc', '說明', '請輸入文件說明', '', true)
                        textarea#ckeditor(name='ckeditor', rows='10', cols='80')
                            | This is my textarea to be replaced with CKEditor.
                        .row.my-2.justify-content-end
                            .col-auto
                                button.btn.btn-primary.px-4 儲存
                                button.btn.btn-outline-secondary.px-4 取消

block body-end
    script(src="./lib/ckeditor/ckeditor.js")