extends ./layouts/backstage-login

block script

block style
    link(rel="stylesheet", href="./lib/datatables/datatables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css")

block body
    +header-backstage-login(3)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside-member
                    +sidebar-data(1)
                    article.article
                        .breadcrumb
                            | 首頁 > 數據管理 > API管理
                        .form-row.align-items-center
                            .col-auto
                                label.sr-only(for='inlineFormInputGroup') 統編搜尋
                                .input-group.mb-2
                                    .input-group-prepend
                                        .input-group-text 統編
                                    input#api_id_filter.form-control(type='text', placeholder='統編搜尋')
                            .col-auto
                                label.sr-only(for='inlineFormInputGroup')
                                .input-group.mb-2
                                    .input-group-prepend
                                        .input-group-text 狀態
                                    select#api_state_filter.form-control
                                        option(value="-1", selected) 全部
                                        option(value="待審查") 待審查
                                        option(value="已發佈") 已發佈
                                        option(value="退件") 退件
                            .col-auto
                                button#api_reset_filter.btn.btn-outline-danger.mb-2
                                    i.fas.fa-redo
                                    | &nbsp;回復列表
                            .col-auto.ml-auto
                                button.btn.btn-primary.mb-2(data-toggle='modal', data-target='#modal_api_add')
                                    i.fas.fa-plus-square
                                    | &nbsp;新增
                        //- .input
                        //-     .confirm-button(data-toggle='modal', data-target='#modal_member_add') 新增
                        //- +input-bootstrap('input_title', 'title', '標題', '請輸入標題', '', true)
                        //- +input-bootstrap('input_desc', 'desc', '說明', '請輸入文件說明', '', true)
                        table#api_table.table-style
                            thead
                                tr
                                    th #
                                    th 帳號
                                    th 姓名
                                    th 統編
                                    th 狀態
                                    th 創建時間
                            tbody
                                tr.hover-style(data-toggle='modal', data-target='#modal_api_edit')
                                    td 1
                                    td james@abc.com
                                    td James
                                    td
                                    td 待審查
                                    td 2019-08-08
                                tr.hover-style(data-toggle='modal', data-target='#modal_api_edit')
                                    td 1
                                    td james@abc.com
                                    td James
                                    td
                                    td 待審查
                                    td 2019-08-08
                                tr.hover-style(data-toggle='modal', data-target='#modal_api_edit')
                                    td 1
                                    td james@abc.com
                                    td James
                                    td
                                    td 待審查
                                    td 2019-08-08
                                tr.hover-style(data-toggle='modal', data-target='#modal_api_edit')
                                    td 1
                                    td james@abc.com
                                    td James
                                    td
                                    td 待審查
                                    td 2019-08-08
    include ./blocks/modal-api-add
    include ./blocks/modal-api-edit

block body-end
    script(src="./lib/datatables/datatables.min.js")
    script(src="./lib/ckeditor/ckeditor.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js")
    script.
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var id = $('#api_id_filter').val();
                var dataId = data[3]; // use data for the age column

                if ( dataId.indexOf(id) !== -1 )
                {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var state = $('#api_state_filter').val();
                var dataState = data[4] || ''; // use data for the age column

                if ( +state === -1 ||
                    dataState.indexOf(state) !== -1)
                {
                    return true;
                }
                return false;
            }
        );

        const datatableBinding = () => {
            const table = $('#api_table')
            if(table.length) {
                const filter = $('#filter')
                const wrapper = $('#wrapper')

                const dataTable = table.DataTable({
                    language: {
                        lengthMenu: '每頁 _MENU_ 筆',
                        zeroRecords: '<i class="fas fa-box-open"></i> 很抱歉，沒有符合的結果',
                        info: '第 _PAGE_ 頁，共 _PAGES_ 頁',
                        infoEmpty: '',
                        search: '<i class="fas fa-search"></i>',
                        infoFiltered: '',
                        paginate: {
                            first: '第一頁',
                            last: '最後一頁',
                            next: '下一頁',
                            previous: '上一頁'
                        }
                    }
                })

                const filterInsert = () => {
                    setTimeout(() => {
                        const tableFilter = $('#table_filter')
                        if (tableFilter.length === 0) {
                            filterInsert()
                        } else {
                            if (filter.length === 0) return
                            $('<i id="table_filter_icon" class="table-filter mobile fas fa-filter"/>').prependTo(tableFilter)
                        }
                    }, 10)
                };
                filterInsert()

                // 篩選器手機板事件綁定
                wrapper
                    .on('click', '#table_filter_icon', () => {
                        filter.fadeIn()
                        filter.css('display', 'flex')
                        wrapper.addClass('fixed')
                    })
                    .on('click', '#filter_confirm_button', () => {
                        filter.fadeOut()
                        wrapper.removeClass('fixed')
                    })

                $('#api_id_filter').on('keyup', () => {
                    dataTable.draw()
                })

                $('#api_state_filter').on('change', () => {
                    dataTable.draw()
                })

                $('#api_reset_filter').on('click', () => {
                    $('#api_id_filter').val('')
                    $('#api_state_filter').val('-1')
                    dataTable.draw()
                })
            }
        }

        window.onload = () => {
            datatableBinding()
            $('#select_company').select2();
        }