extends ./layouts/backstage-login

block script

block style
    link(rel="stylesheet", href="./lib/datatables/datatables.min.css")

block body
    +header-backstage-login(1)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside
                    +sidebar(8)
                    article.article
                        .breadcrumb
                            | 首頁 > 內容管理 > 隱私權聲明
                        +input-bootstrap('input_title', 'title', '標題', '請輸入標題', '', true)
                        .input
                            .input-group
                                .input-group-prepend
                                    .input-group-text 說明
                                input.form-control(type='text', placeholder='請輸入文件說明')
                                small.text-muted.mr-2 目前版本 v0.7
                                button.btn.btn-outline-primary(type='button', data-toggle='modal', data-target='#modal') 紀錄
                        textarea#ckeditor(name='ckeditor', rows='10', cols='80')
                            | This is my textarea to be replaced with CKEditor.
    include ./blocks/modal-log-version

block body-end
    script(src="./lib/datatables/datatables.min.js")
    script(src="./lib/ckeditor/ckeditor.js")