extends ./layouts/backstage-login

block script

block style
    link(rel="stylesheet", href="./lib/datatables/datatables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css")

block body
    +header-backstage-login(2)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside-member
                    +sidebar-member(1)
                    article.article
                        .breadcrumb
                            | 首頁 > 會員管理 > 會員列表
                        .form-row.align-items-center
                            .col-auto
                                label.sr-only(for='inlineFormInputGroup')
                                .input-group.mb-2
                                    .input-group-prepend
                                        .input-group-text 等級
                                    select#member_level_filter.form-control
                                        option(value="-1", selected) 全部
                                        option(value="一般") 一般
                                        option(value="新創") 新創
                                        option(value="最高") 最高
                            .col-auto
                                label.sr-only(for='inlineFormInputGroup') 統編搜尋
                                .input-group.mb-2
                                    .input-group-prepend
                                        .input-group-text 統編
                                    input#member_id_filter.form-control(type='text', placeholder='統編搜尋')
                            .col-auto
                                label.sr-only(for='inlineFormInputGroup')
                                .input-group.mb-2
                                    .input-group-prepend
                                        .input-group-text 狀態
                                    select#member_state_filter.form-control
                                        option(value="-1", selected) 全部
                                        option(value="1") 啟用
                                        option(value="0") 停用
                            .col-auto
                                button#member_reset_filter.btn.btn-outline-danger.mb-2
                                    i.fas.fa-redo
                                    | &nbsp;回復列表
                            .col-auto.ml-auto
                                a.btn.btn-primary.mb-2(href="backstage-member-add.html")
                                    i.fas.fa-plus-square
                                    | &nbsp;新增
                        table#member_table.table-style
                            thead
                                tr
                                    th #
                                    th 帳號
                                    th 姓名
                                    th 等級
                                    th 統編
                                    th 狀態
                            tbody
                                tr.hover-style(page-href="backstage-member-edit.html")
                                    td 1
                                    td james@abc.com
                                    td James3
                                    td 最高
                                    th 統編
                                    td 啟用
                                tr.hover-style(page-href="backstage-member-edit.html")
                                    td 1
                                    td james@abc.com
                                    td James1
                                    td 最高
                                    th 統編
                                    td 啟用
                                tr.hover-style(page-href="backstage-member-edit.html")
                                    td 3
                                    td james@abc.com
                                    td James
                                    td 最高
                                    th 統編
                                    td 啟用
                                tr.hover-style(page-href="backstage-member-edit.html")
                                    td 1
                                    td james@abc.com
                                    td James
                                    td 最高
                                    th 統編
                                    td 啟用
    include ./blocks/modal-member-add
    include ./blocks/modal-member-edit

block body-end
    script(src="./lib/datatables/datatables.min.js")
    script(src="./lib/ckeditor/ckeditor.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js")
    script.
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var level = $('#member_level_filter').val();
                var dataLevel = data[3]; // use data for the age column

                if ( +level === -1 ||
                    dataLevel.indexOf(level) !== -1 )
                {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var id = $('#member_id_filter').val();
                var dataId = data[4]; // use data for the age column

                if ( dataId.indexOf(id) !== -1 )
                {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var state = $('#member_state_filter').val();
                var dataState = data[5] || ''; // use data for the age column

                if ( +state === -1 ||
                    (dataState.indexOf('啟用') !== -1 && +state === 1) ||
                    (dataState.indexOf('關閉') !== -1 && +state === 0) )
                {
                    return true;
                }
                return false;
            }
        );

        const datatableBinding = () => {
            const table = $('#member_table')
            if(table.length) {
                const filter = $('#filter')
                const wrapper = $('#wrapper')

                const dataTable = table.DataTable({
                    order: [[2, 'asc']],
                    language: {
                        lengthMenu: '每頁 _MENU_ 筆',
                        zeroRecords: '<i class="fas fa-box-open"></i> 很抱歉，沒有符合的結果',
                        info: '第 _PAGE_ 頁，共 _PAGES_ 頁',
                        infoEmpty: '',
                        search: '<i class="fas fa-search"></i>',
                        infoFiltered: '',
                        paginate: {
                            first: '第一頁',
                            last: '最後一頁',
                            next: '下一頁',
                            previous: '上一頁'
                        }
                    }
                })

                const filterInsert = () => {
                    setTimeout(() => {
                        const tableFilter = $('#table_filter')
                        if (tableFilter.length === 0) {
                            filterInsert()
                        } else {
                            if (filter.length === 0) return
                            $('<i id="table_filter_icon" class="table-filter mobile fas fa-filter"/>').prependTo(tableFilter)
                        }
                    }, 10)
                };
                filterInsert()

                // 篩選器手機板事件綁定
                wrapper
                    .on('click', '#table_filter_icon', () => {
                        filter.fadeIn()
                        filter.css('display', 'flex')
                        wrapper.addClass('fixed')
                    })
                    .on('click', '#filter_confirm_button', () => {
                        filter.fadeOut()
                        wrapper.removeClass('fixed')
                    })

                $('#member_id_filter').on('keyup', () => {
                    dataTable.draw()
                })

                $('#member_level_filter, #member_state_filter').on('change', () => {
                    dataTable.draw()
                })

                $('#member_reset_filter').on('click', () => {
                    $('#member_id_filter').val('')
                    $('#member_level_filter').val('-1')
                    $('#member_state_filter').val('-1')
                    dataTable.draw()
                })
            }
        }

        window.onload = () => {
            datatableBinding()
        }