extends ./layouts/backstage-login

block script

block style

block body
    +header-backstage-login(1)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside
                    +sidebar(2)
                    article.article
                        .breadcrumb
                            | 首頁 > 內容管理 > 平台緣起
                        +input-default('input_title', 'title', '', '請輸入標題', '', true)
                        +input-default('input_desc', 'desc', '', '請輸入文件說明', '', true)
                        textarea#ckeditor(name='ckeditor', rows='10', cols='80')
                            | This is my textarea to be replaced with CKEditor.


block body-end
    script(src="./lib/ckeditor/ckeditor.js")