extends ./layouts/backstage-login

block script

block style
    link(rel="stylesheet", href="./lib/datatables/datatables.min.css")

block body
    +header-backstage-login(5)

    section#section.backstage
        .main-wrap
            .content
                .article-wrap
                    //- include ./blocks/backstage-aside-system
                    +sidebar-system(3)
                    article.article
                        .breadcrumb
                            | 首頁 > 系統管理 > 備份機制
                        //- +input-bootstrap('input_title', 'title', '標題', '請輸入標題', '', true)
                        //- +input-bootstrap('input_desc', 'desc', '說明', '請輸入文件說明', '', true)
                        .input
                            .input-group.align-items-center
                                button.btn.btn-danger(type='button', data-toggle='modal', data-target='#modal') 即時備份
                                small.text-muted.ml-2 系統備份檔下載至備份目錄上
                        .form-division
                            .title 排程
                        .input
                            .input-group
                                .custom-control.custom-checkbox.my-1.mr-sm-2
                                    input#monthly_backup.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='monthly_backup')
                                        | 每月第
                                input.form-control.form-control-sm.mr-2(type="text")
                                | 天(1-30)
                        .input
                            .input-group
                                .custom-control.custom-checkbox.my-1.mr-sm-2
                                    input#weekly_backup.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='weekly_backup')
                                        | 每週
                                select.form-control.form-control-sm(type="text")
                                    option(value="1") 一
                                    option(value="2") 二
                                    option(value="3") 三
                                    option(value="4") 四
                                    option(value="5") 五
                                    option(value="6") 六
                                    option(value="7") 日
                        .input
                            .input-group
                                | 時間&nbsp;
                                select.form-control.form-control-sm.hour-select
                                | &nbsp;:&nbsp;
                                select.form-control.form-control-sm.minute-select
                                    option(value="00") 00
                                    option(value="10") 10
                                    option(value="20") 20
                                    option(value="30") 30
                                    option(value="40") 40
                                    option(value="50") 50
                        .input.mt-2
                            .confirm-button
                                | 儲存
                                a.click-area(href="#")
                        .input
                            .gray-button
                                | 取消
                                a.click-area(href="#")

block body-end
    script(src="./lib/datatables/datatables.min.js")
    script(src="./lib/ckeditor/ckeditor.js")