extends ./layouts/main

block script

block style

block body
    +header-login(4, 1)

    section#section
        .main-wrap
            .content
                +breadcrumb('首頁 > 生活數據 > 數據匯入')
                +title('數據匯入')
                article.article

block body-end
    script(src="./lib/ckeditor/ckeditor.js")