extends ./layouts/main

block script

block style
    link(rel="stylesheet", href="./lib/swiper/css/swiper.min.css")

block body
    include ./elements/banner

    section#section
        .main-wrap.pt-0
            .content
                .row
                    .col-12.col-md-6
                        +article-title('最新消息', '掌握第一手資料', true)
                        article.article.p-0
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')
                    .col-12.col-md-6
                        +article-title('數據創育')
                        article.article
                            .row
                                .col-6
                                    img(src="./assets/images/chart-1.png", width="100%", height="auto")
                                .col-6
                                    img(src="./assets/images/chart-2.png", width="100%", height="auto")
                .row
                    .col-12.col-md-6
                        +article-title('最新API', '最新資料一把罩', true)
                        article.article.p-0
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')
                    .col-12.col-md-6
                        +article-title('最熱API', '帶你認識最火紅的關鍵字', true)
                        article.article.p-0
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容測試內容', '', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')
                            +list('測試內容', '測試次標題', '7/17/2019')


block body-end
    script(src="./lib/swiper/js/swiper.min.js")