extends ./layouts/main

block script

block style
    link(rel="stylesheet", href="./lib/swiper/css/swiper.min.css")

block body
    +header-login(4)

    section#section
        .main-wrap
            .content
                +breadcrumb('首頁 > 生活數據')
                +title('生活數據')
                .row
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 在地生活數據
                                    h3 在地生活數據副標題
                                img(src="./assets/images/01.jpg", width="100%", height="auto", srcset="", alt="生活數據_在地生活數據")
                                a.click-area(href="#")
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 經濟地理POI資訊
                                    h3 經濟地理POI資訊副標題
                                img(src="./assets/images/02.jpg", width="100%", height="auto", srcset="", alt="生活數據_經濟地理POI資訊")
                                a.click-area(href="#")
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 人口統計資料
                                    h3 人口統計資料副標題
                                img(src="./assets/images/03.jpg", width="100%", height="auto", srcset="", alt="生活數據_人口統計資料")
                                a.click-area(href="#")
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 社群資料
                                    h3 社群資料副標題
                                img(src="./assets/images/06.jpg", width="100%", height="auto", srcset="", alt="生活數據_社群資料")
                                a.click-area(href="#")
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 消費型態數據
                                    h3 消費型態數據副標題
                                img(src="./assets/images/07.jpg", width="100%", height="auto", srcset="", alt="生活數據_消費型態數據")
                                a.click-area(href="#")
                    .col-12.col-md-6.col-lg-4
                        article.article.p-0
                            .article-image-wrap
                                .title
                                    h2 公共服務數據
                                    h3 公共服務數據副標題
                                img(src="./assets/images/10.jpg", width="100%", height="auto", srcset="", alt="生活數據_公共服務數據")
                                a.click-area(href="#")


block body-end
    script(src="./lib/swiper/js/swiper.min.js")