extends ./layouts/main

block script

block style

block body
    +header-login(1, 4)

    section#section
        .main-wrap
            .content
                +breadcrumb('首頁 > 關於平台 > 網站地圖')
                +title-no-date('網站地圖')
                .row
                    .col-12.col-sm-6.col-lg-4
                        +article-title('首頁', 'Home Page')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;搜尋
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;服務條款
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;隱私權
                    .col-12.col-sm-6.col-lg-4
                        +article-title('關於平台', 'About The Platform')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;平台緣起
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;最新消息
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;數據創育專欄
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;網站地圖
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;相關連結
                    .col-12.col-sm-6.col-lg-4
                        +article-title('生活數據', 'Living Data')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;數據匯入
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;視覺化
                    .col-12.col-sm-6.col-lg-4
                        +article-title('API市集', 'API Market')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;最新上架
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;熱門上架
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;統計分析
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;我的API
                    .col-12.col-sm-6.col-lg-4
                        +article-title('數據探索', 'Data Exploring')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;分析引擎
                    .col-12.col-sm-6.col-lg-4
                        +article-title('數據能量庫', 'Data Base')
                        article.article.p-0
                            .map__wrap
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;育成樣貌
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;新創業者列表
                                .map__link
                                    a.click-area(href="#")
                                    .focus-bg
                                    i.fas.fa-link
                                    span &nbsp;活動資訊

block body-end