.footer {
    background-color: $blue-1;

    &__wrap {
        @extend .responsive-width;

        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        padding: $padding-2;
        // height: $footer-height;
        color: $white;

        @media (min-width: 1024.98px) {
            flex-wrap: nowrap;
        }
    }

    &__map {
        display: flex;
    }

    &__list {
        margin-right: $padding-2;
        white-space: nowrap;
        line-height: 1.6em;

        * {
            display: block;
        }

        .title {
            font-size: 1em;
            font-weight: bold;
            color: $white;
        }

        .nav {
            font-size: 0.8em;
            color: $white;
        }
    }

    &__contact {
        margin-top: $padding-1;
        width: 100%;
        border-top: 1px dotted $white;

        .brand {
            font-size: 1.6em;
            font-weight: bolder;
        }

        @media (min-width: 1024.98px) {
            margin-top: 0;
            margin-left: auto;
            padding-left: $padding-2;
            width: auto;
            border-top: 0;
            border-left: 1px dotted $white;
        }
    }

    .copyright {
        padding: $padding-1 $padding-2;
        // height: $copyright-height;
        font-size: 0.675em;
        text-align: center;
        // line-height: $copyright-height;
        color: $white;
        background-color: $blue-3;
    }
}

.counter-digit {
    display: inline-block;
    margin: 3px 0 0;
    padding: 0 5px;
    height: 2em;
    font-size: 0.675em;
    font-weight: bolder;
    color: $white;
    background-color: $black;
    border: 1px solid $white;
    border-radius: 3px;
}