.header {
    @extend .border-bottom;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 $padding-1;
    height: $header-height;
    color: $gray-5;
    background-color: $white;
    z-index: $z-index-fixed;

    &__menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z-index-fixed + 2;

        @media (min-width: 1024.98px) {
            display: flex;
            height: $header-height;
            flex: 1;
        }
    }

    &__logo {
        position: relative;
        padding: 0 $padding-1;
        font-size: 2em;
        font-weight: 900;
        line-height: $header-height;
        cursor: pointer;

        &:hover {
            background-color: $gray-1;
        }

        .subtitle {
            display: inline-block;
            font-size: 0.8em;
            color: $blue-1;
        }
    }

    &__hamburger {
        position: relative;
        margin-right: $padding-2;
        margin-left: auto;
        opacity: 1;
        transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);

        @media (min-width: 1024.98px) {
            display: none;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            font-size: 1.6em;
            transform: translate(-50%, -50%);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        a {
            color: rgb(112, 112, 112);

            &:hover {
                text-decoration: none;
            }
        }


        @media (min-width: 1024.98px) {
            flex-direction: row;
            margin-left: auto;
            padding: 0 $padding-1;
            height: $header-height;
        }

        &__nav {
            position: relative;
            padding: 0 $padding-1;
            width: 100%;
            height: $header-height;
            font-size: 1.4em;
            white-space: nowrap;
            line-height: $header-height;

            i {
                &:not(.inline) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    font-size: 1.6em;
                    transform: rotate(0deg) translate(-50%, -50%);
                }
            }

            &:hover {
                background-color: $gray-1;
            }

            &:focus {
                font-weight: 700 !important;
                color: #000 !important;
                background-color: #ffbf47 !important;
            }

            &.new {
                &::before {
                    position: absolute;
                    top: 18px;
                    right: 5px;
                    display: block;
                    padding: 3px 5px;
                    font-size: 0.7em;
                    font-weight: bolder;
                    line-height: 0.7em;
                    color: $white;
                    transform: translateY(-50%) scale(0.8);
                    background-color: #f00;
                    border-radius: 0.7em;
                    content: 'NEW';
                }
            }

            &.hot {
                &::before {
                    position: absolute;
                    top: 18px;
                    right: 5px;
                    display: block;
                    padding: 3px 5px;
                    font-size: 0.7em;
                    font-weight: bold;
                    line-height: 0.7em;
                    color: $white;
                    transform: translateY(-50%) scale(0.8);
                    background-color: #ff7b00;
                    border-radius: 0.7em;
                    content: 'HOT';
                }
            }

            @media (max-width: 1024px) {
                &.mobile-thin {
                    font-size: 1em;
                    font-weight: normal;
                    color: $gray-5;
                }

                &.mobile-order-1 {
                    order: -2;
                }

                &.mobile-order-2 {
                    order: -1;
                }

                &.active {
                    background-color: $gray-2;
                }
            }

            @media (min-width: 1024.98px) {
                width: auto;
                font-size: 0.95em;

                &.active {
                    border-bottom: 5px solid $blue-1;
                }
            }
        }
    }

    + * {
        margin-top: $header-height;
    }

    + .title {
        padding-top: $padding-2;
    }

    + div:not(.banner) {
        padding-top: $padding-1;
    }
}

.nav-select {
    @extend .border;
    @extend .box-shadow-1;

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: $nav-option-width;
    background-color: $white;
    border-radius: $radius;
    transform: translateY(95%);
    z-index: $z-index-absolute;

    &__option {
        @extend .hover-style-1;

        position: relative;
        display: block;
        width: $nav-option-width;
        height: $nav-option-height;
        font-size: 1em;
        text-align: center;
        white-space: nowrap;
        line-height: $nav-option-height;

        &:focus {
            font-weight: 700 !important;
            color: #000 !important;
            background-color: #ffbf47 !important;
        }

        &:not(:last-child) {
            @extend .border-bottom;
        }

        &.new {
            &::before {
                position: absolute;
                top: 18px;
                right: 5px;
                display: block;
                padding: 3px 5px;
                font-size: 0.7em;
                font-weight: bolder;
                line-height: 0.7em;
                color: $white;
                transform: translateY(-50%) scale(0.8);
                background-color: #f00;
                border-radius: 0.7em;
                content: 'NEW';
            }
        }

        &.hot {
            &::before {
                position: absolute;
                top: 18px;
                right: 5px;
                display: block;
                padding: 3px 5px;
                font-size: 0.7em;
                font-weight: bold;
                line-height: 0.7em;
                color: $white;
                transform: translateY(-50%) scale(0.8);
                background-color: #ff7b00;
                border-radius: 0.7em;
                content: 'HOT';
            }
        }

        @media (min-width: 1024.98px) {
            &.active {
                background-color: $gray-2;

                &::after {
                    width: $padding-0;
                }
            }
        }
    }
}

.search-wrap {
    position: relative;

    a,
    i {
        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        text-decoration: none;
        color: $gray-5;
        transform: translate(50%, -50%);
        z-index: -1;
        transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    }
}

.search-input {
    @extend .border;

    position: relative;
    display: block;
    padding: $padding-0 $padding-1;
    width: 36px;
    font-size: 0.875em;
    background-color: transparent;
    border-radius: 2em;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    cursor: pointer;

    ~ * {
        transition: 0.3s;
    }

    &:focus {
        width: 250px;
        border-color: $gray-4 !important;

        + i,
        + a {
            right: $padding-1;
            transform: translate(0%, -50%);
            z-index: 2;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);

        &__menu {
            right: -$header-menu-width-m;
            width: $header-menu-width-m;
            background-color: $gray-1;
            transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);
        }

        .menu {
            &__nav {
                padding-left: $padding-2;
                font-weight: bold;
                color: $black;
                border-bottom: 1px solid $gray-3;

                &:not(:first-child) {
                    height: auto;
                }

                &.thin {
                    font-size: 1em;
                    font-weight: inherit;
                    color: $white;
                    background-color: $blue-1 !important;
                }

                .thin {
                    margin-left: $padding-0;
                    font-size: 0.875em;
                    font-weight: bold;
                    color: $blue-1;
                }
            }
        }
    }

    .nav-select {
        position: relative;
        margin-right: -$padding-1;
        margin-left: -$padding-2;
        width: calc(100% + #{$padding-1 + $padding-2});
        background-color: $gray-1;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        transform: none;

        &__option {
            padding: 0 $padding-1;
            width: 100%;
            height: $header-height;
            line-height: $header-height;

            &:not(:last-child) {
                border-bottom: 1px solid $gray-3;
            }

            &:first-child {
                border-top: 1px solid $gray-3;
            }

            &.active {
                background-color: $gray-2;
            }
        }
    }

    #wrapper {
        &.fixed-push {
            .header {
                right: $header-menu-width-m;

                &__menu {
                    right: 0;
                }

                &__hamburger {
                    opacity: 0;
                }
            }

            .rotation-style {
                transform: rotate(720deg) translate(-50%, -50%);
            }
        }
    }
}

.rotation-style {
    transform-origin: 0 0;
    transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}
