mixin list(title, subtitle, date)
    .list
        a.click-area(href="#")
        .focus-bg
        .list__heading
            .title= title
            if subtitle
                .subtitle= subtitle
        if date
            .list__state= date
        .list__arrow >