aside.sidebar
    .sidebar__nav
        | 首頁Banner
        a.click-area(href="backstage-banner.html")
    .sidebar__nav
        | 平台緣起
        a.click-area(href="backstage-about.html")
    .sidebar__nav
        | 最新消息
        a.click-area(href="backstage-news.html")
    .sidebar__nav
        | 數據創育專欄
        a.click-area(href="backstage-columns.html")
    .sidebar__nav
        | API交換共同規範
        a.click-area(href="#")
    .sidebar__nav
        | API使用條款
        a.click-area(href="#")
    .sidebar__nav
        | API上架使用教學
        a.click-area(href="#")
    .sidebar__nav
        | 隱私權聲明
        a.click-area(href="backstage-privacy.html")
    .sidebar__nav
        | 資料開放宣告
        a.click-area(href="#")
    .sidebar__nav
        | 蒐集資料同意書
        a.click-area(href="#")
    .sidebar__nav
        | 常見問題
        a.click-area(href="#")
    .sidebar__nav
        | 新創業者列表
        a.click-area(href="#")
    .sidebar__nav
        | 數據活動資訊
        a.click-area(href="#")
    .sidebar__nav
        | 網站地圖
        a.click-area(href="#")
    .sidebar__nav
        | 相關連結
        a.click-area(href="#")