aside.sidebar
    .sidebar__nav
        | 個資檔案存取紀錄
        a.click-area(href="backstage-access-log.html")
    .sidebar__nav
        | 操作紀錄管理
        a.click-area(href="backstage-operate-log.html")
    .sidebar__nav
        | 備份機制
        a.click-area(href="backstage-backup.html")
    .sidebar__nav
        | 網站統計分析
        a.click-area(href="backstage-analytic.html")