include ../mixins/input

#register_email_confirm.popup__mask(style="display: none;")
    .popup__wrap
        .popup__header
            span.welcome WELCOME
            span.title 觀迎使用數據創育平台
        .popup__body
            .popup__content
                .input
                    | 認證完成
                    br
                    | 認證信箱 XXXX@gmail.com 已認證完成
                    | 您現在可以使用林口數據創育平台會員的服務
                .input
                    #register_email_confirm_button.confirm-button 完成
