footer#footer.footer
    .footer__wrap
        .footer__map
            .footer__list
                a.title(href="#") 關於我們
            .footer__list
                a.title(href="#") 相關連結
            .footer__list
                a.title(href="#") 隱私權說明
            .footer__list
                a.title(href="#") 資料開放宣告
        .footer__contact
            .brand LOGO
            | hello@startupterrace.tw
            br
            | (02) 2369-2358
            br
            | 24449 新北市林口區仁愛路二段496號
            br
            | 星期一至星期五 9:00 ~ 18:00
    .copyright
        | 建議瀏覽器： Microsoft Internet Explorer AG以上、Google Chrome 最新版本
        br
        | 本網站為經濟部中小企業處「林口新創園」之計畫專案，著作權為其所有，非經同意，不得為任何形式之利用。
        br
        | ©2019 未來城市大數據應用示範計畫版權所有 | All rights reserved.
        br
        .counter-digit 0
        .counter-digit 0
        .counter-digit 0
        .counter-digit 1
        .counter-digit 8
        .counter-digit 9
        .counter-digit 6