footer#footer.footer
    .footer__wrap
        .footer__map
            .footer__list
                a.title(href="#") 關於我們
            .footer__list
                a.title(href="#") 相關連結
            .footer__list
                a.title(href="#") 隱私權說明
            .footer__list
                a.title(href="#") 資料開放宣告
        .footer__contact
    .copyright copyright@2019
