include ../mixins/input

#forgot_password.popup__mask(style="display: none;")
    #forgot_password_cancel_button.close-button
        .text 關閉
    .popup__wrap
        .popup__header
            span.welcome FORGOT PASSWORD
            span.title 忘記密碼
        #forgot_password_email.popup__body
            .popup__content
                .input
                    | 我們會將密碼寄到您註冊時所填寫的電子信箱
                    br
                    | 請先確認可以收到該信件。
                +input-default('register_account', 'account', '', '使用者電子郵件', '', true)
                +input-verify('register_verify', 'verify', '', '請輸入圖形內容')
                .input
                    #forgot_password_next_button.confirm-button 寄送驗證信
        #forgot_password_complete.popup__body(style='display: none;')
            .popup__content
                .input
                    | 認證完成
                    br
                    | 認證信箱 XXXX@gmail.com 已認證完成
                    | 您現在可以使用林口數據創育平台會員的服務
                .input
                    #forgot_password_complete_button.confirm-button 完成

