mixin header-login(active, subActive)
    include login
    include register
    include email-confirm
    include forgot-password
    include reset-password
    header#header.header
        .header__logo
            img(src="./assets/images/logo.svg", height="50", width="auto", alt="", srcset="")
            a.click-area(href="/")
        form.search-wrap
            input.search-input(type="text", name="search")
            a#search_submit.fas.fa-search(href="#")
        #header_menu_btn_m.header__hamburger
            i.fas.fa-bars
        .header__menu
            .menu
                #header_menu_close_btn_m.menu__nav.thin.mobile.mobile-order-1
                    i.fas.fa-times.rotation-style
                .menu__nav(class=(active === 1) ? 'active' : '')
                    a.click-area(href="about.html", title="關於平台")
                    span.thin.mobile About
                    span 關於平台
                    .nav-select(style="display: none;")
                        a.nav-select__option(class=(active === 1 && subActive === 1) ? 'active' : '', href=(active === 1 && subActive === 1) ? false : "about.html", title="平台緣起") 平台緣起
                        a.nav-select__option(class=(active === 1 && subActive === 2) ? 'active': '', href=(active === 1 && subActive === 2) ? false : "news.html", title="最新消息") 最新消息
                        a.nav-select__option(class=(active === 1 && subActive === 3) ? 'active' : '', href=(active === 1 && subActive === 3) ? false : "living-data.html", title="數據創育專欄") 數據創育專欄
                        a.nav-select__option(class=(active === 1 && subActive === 4) ? 'active' : '', href=(active === 1 && subActive === 4) ? false : "map.html", title="網站地圖") 網站地圖
                        a.nav-select__option.last-option(class=(active === 1 && subActive === 5) ? 'active' : '', href=(active === 1 && subActive === 5) ? false : "link.html", title="相關連結") 相關連結
                .menu__nav.new(class=(active === 2) ? 'active' : '')
                    a.click-area(href=(active === 2) ? false : "api-list.html", title="API市集")
                    span.thin.mobile API Market
                    span API市集
                    .nav-select(style="display: none;")
                        a.nav-select__option.new(class=(active === 2 && subActive === 1) ? 'active' : '', href=(active === 2 && subActive === 1) ? false : "api-new.html", title="最新上架") 最新上架
                        a.nav-select__option(class=(active === 2 && subActive === 2) ? 'active': '', href=(active === 2 && subActive === 2) ? false : "api-hot.html", title="熱門上架") 熱門上架
                        a.nav-select__option(class=(active === 2 && subActive === 3) ? 'active' : '', href=(active === 2 && subActive === 3) ? false : "api-analytic.html", title="統計分析") 統計分析
                        a.nav-select__option.last-option(class=(active === 2 && subActive === 4) ? 'active' : '', href=(active === 2 && subActive === 4) ? false : "api-custom.html", title="我的API") 我的API
                .menu__nav.hot(class=(active === 3) ? 'active' : '')
                    a.click-area(href=(active === 3) ? false : "data-explore.html", title="數據探索")
                    span.thin.mobile Explore
                    span 數據探索
                    .nav-select(style="display: none;")
                        a.nav-select__option.hot.last-option(class=(active === 3 && subActive === 1) ? 'active' : '', href=(active === 3 && subActive === 1) ? false : "data-explore.html", title="分析引擎") 分析引擎
                .menu__nav(class=(active === 4) ? 'active' : '')
                    a.click-area(href=(active === 4) ? false : "living-data.html", title="生活數據")
                    span.thin.mobile Living Data
                    span 生活數據
                    .nav-select(style="display: none;")
                        a.nav-select__option(class=(active === 4 && subActive === 1) ? 'active' : '', href=(active === 4 && subActive === 1) ? false : "data-import.html", title="數據匯入") 數據匯入
                        a.nav-select__option.last-option(class=(active === 4 && subActive === 2) ? 'active': '', href=(active === 4 && subActive === 2) ? false : "data-chart.html", title="視覺化") 視覺化
                .menu__nav(class=(active === 5) ? 'active' : '')
                    a.click-area(href=(active === 5) ? false : "#", title="數據能量庫")
                    span.thin.mobile API Market
                    span 數據能量庫
                    .nav-select(style="display: none;")
                        a.nav-select__option(class=(active === 5 && subActive === 1) ? 'active' : '', href=(active === 5 && subActive === 1) ? false : "#", title="數據能量庫") 數據能量庫
                        a.nav-select__option(class=(active === 5 && subActive === 2) ? 'active': '', href=(active === 5 && subActive === 2) ? false : "introList.html", title="數據能量庫") 數據能量庫
                        a.nav-select__option.last-option(class=(active === 5 && subActive === 3) ? 'active' : '', href=(active === 5 && subActive === 3) ? false : "#", title="數據能量庫") 數據能量庫
                .menu__nav(class=(active === 6) ? 'active' : '')
                    a.click-area(href="#", title="常見問題")
                    span 常見問題
                .menu__nav.mobile
                    a.click-area(href="index-logout.html")
                    span.thin.mobile LOGOUT
                    span 登出
                .menu__nav.mobile.mobile-order-2.mobile-thin
                    i.fas.fa-user.inline
                    | &nbsp;歡迎，陳先生
                    //- a#login_button_m.click-area(href="#")
                .menu__nav.pc
                    a.click-area(href="#", title="歡迎，陳先生")
                    i.fas.fa-user.inline
                    span &nbsp;歡迎，陳先生
                    .nav-select(style="display: none;")
                        a.nav-select__option.last-option(href="index-logout.html", title="登出") 登出