mixin header-login(active, subActive)
    include login
    include register
    include email-confirm
    include forgot-password
    include reset-password
    header#header.header
        .header__logo
            img(src="./assets/images/logo.svg", height="50", width="auto", alt="", srcset="")
            a.click-area(href="/")
        form.search-wrap
            input.search-input(type="text", name="search")
            a#search_submit.fas.fa-search(href="#")
        #header_menu_btn_m.header__hamburger
            i.fas.fa-bars
        .header__menu
            ul.menu
                li#header_menu_close_btn_m.menu__nav.thin.mobile.mobile-order-1
                    i.fas.fa-times.rotation-style
                li.menu__nav(class=(active === 1) ? 'active' : '', tabindex="0")
                    | 關於平台
                    a.click-area(href="about.html", title="關於平台") 關於平台
                    span.thin.mobile About
                    ul.nav-select(style="display: none;")
                        li.nav-select__option(class=(active === 1 && subActive === 1) ? 'active' : '', tabindex="0")
                            | 平台緣起
                            a.click-area(href=(active === 1 && subActive === 1) ? false : "about.html", title="平台緣起") 平台緣起
                        li.nav-select__option(class=(active === 1 && subActive === 2) ? 'active': '', tabindex="0")
                            | 最新消息
                            a.click-area(href=(active === 1 && subActive === 2) ? false : "news.html", title="最新消息") 最新消息
                        li.nav-select__option(class=(active === 1 && subActive === 3) ? 'active' : '', tabindex="0")
                            | 數據創育專欄
                            a.click-area(href=(active === 1 && subActive === 3) ? false : "living-data.html", title="數據創育專欄") 數據創育專欄
                        li.nav-select__option(class=(active === 1 && subActive === 4) ? 'active' : '', tabindex="0")
                            | 網站地圖
                            a.click-area(href=(active === 1 && subActive === 4) ? false : "map.html", title="網站地圖") 網站地圖
                        li.nav-select__option.last-option(class=(active === 1 && subActive === 5) ? 'active' : '', tabindex="0")
                            | 相關連結
                            a.click-area(href=(active === 1 && subActive === 5) ? false : "link.html", title="相關連結") 相關連結
                li.menu__nav.new(class=(active === 2) ? 'active' : '', tabindex="0")
                    | API市集
                    span.thin.mobile API Market
                    a.click-area(href=(active === 2) ? false : "api-list.html", title="API市集") API市集
                    ul.nav-select(style="display: none;")
                        li.nav-select__option.new(class=(active === 2 && subActive === 1) ? 'active' : '', tabindex="0")
                            | 最新上架
                            a.click-area(href=(active === 2 && subActive === 1) ? false : "api-new.html", title="最新上架") 最新上架
                        li.nav-select__option(class=(active === 2 && subActive === 2) ? 'active': '', tabindex="0")
                            | 熱門上架
                            a.click-area(href=(active === 2 && subActive === 2) ? false : "api-hot.html", title="熱門上架")
                        li.nav-select__option(class=(active === 2 && subActive === 3) ? 'active' : '', tabindex="0")
                            | 統計分析
                            a.click-area(href=(active === 2 && subActive === 3) ? false : "api-analytic.html", title="統計分析")
                        li.nav-select__option.last-option(class=(active === 2 && subActive === 4) ? 'active' : '', tabindex="0")
                            | 我的API
                            a.click-area(href=(active === 2 && subActive === 4) ? false : "api-custom.html", title="我的API")
                li.menu__nav.hot(class=(active === 3) ? 'active' : '', tabindex="0")
                    | 數據探索
                    span.thin.mobile Explore
                    a.click-area(href=(active === 3) ? false : "data-explore.html", title="數據探索") 數據探索
                    ul.nav-select(style="display: none;")
                        li.nav-select__option.hot.last-option(class=(active === 3 && subActive === 1) ? 'active' : '', tabindex="0")
                            | 分析引擎
                            a.click-area(href=(active === 3 && subActive === 1) ? false : "data-explore.html", title="分析引擎") 分析引擎
                li.menu__nav(class=(active === 4) ? 'active' : '', tabindex="0")
                    | 生活數據
                    span.thin.mobile Living Data
                    a.click-area(href=(active === 4) ? false : "living-data.html", title="生活數據") 生活數據
                    ul.nav-select(style="display: none;")
                        li.nav-select__option(class=(active === 4 && subActive === 1) ? 'active' : '', tabindex="0")
                            | 數據匯入
                            a.click-area(href=(active === 4 && subActive === 1) ? false : "data-import.html", title="數據匯入") 數據匯入
                        li.nav-select__option.last-option(class=(active === 4 && subActive === 2) ? 'active': '', tabindex="0")
                            | 視覺化
                            a.click-area(href=(active === 4 && subActive === 2) ? false : "data-chart.html", title="視覺化") 視覺化
                li.menu__nav(class=(active === 5) ? 'active' : '', tabindex="0")
                    | 數據能量庫
                    span.thin.mobile API Market
                    a.click-area(href=(active === 5) ? false : "#", title="數據能量庫") 數據能量庫
                    ul.nav-select(style="display: none;")
                        li.nav-select__option(class=(active === 5 && subActive === 1) ? 'active' : '', tabindex="0")
                            | 數據育成樣貌輪廓
                            a.click-area(href=(active === 5 && subActive === 1) ? false : "#", title="數據能量庫") 數據能量庫
                        li.nav-select__option(class=(active === 5 && subActive === 2) ? 'active': '', tabindex="0")
                            | 新創業者分類列表
                            a.click-area(href=(active === 5 && subActive === 2) ? false : "introList.html", title="數據能量庫") 數據能量庫
                        li.nav-select__option.last-option(class=(active === 5 && subActive === 3) ? 'active' : '', tabindex="0")
                            | 數據活動資訊
                            a.click-area(href=(active === 5 && subActive === 3) ? false : "#", title="數據能量庫") 數據能量庫
                li.menu__nav(class=(active === 6) ? 'active' : '', tabindex="0")
                    | 常見問題
                    a.click-area(href="#", title="常見問題") 常見問題
                li.menu__nav.mobile
                    | 登出
                    span.thin.mobile LOGOUT
                    a.click-area(href="index-logout.html")
                li.menu__nav.mobile.mobile-order-2.mobile-thin
                    i.fas.fa-user.inline
                    | &nbsp;歡迎，陳先生
                    //- a#login_button_m.click-area(href="#")
                li.menu__nav.pc(tabindex="0")
                    i.fas.fa-user.inline
                    | &nbsp;歡迎，陳先生
                    ul.nav-select(style="display: none;")
                        li.nav-select__option.last-option(tabindex="0")
                            | 登出
                            a.click-area(href="index-logout.html", title="登出") 登出
                //- a#login_button.click-area(href="#")
                //- li.menu__nav
                //-     | 開發專區
                //-     span.thin.mobile About
                //-     ul.nav-select(style="display: none;")
                //-         li.nav-select__option
                //-             | living-data
                //-             a.click-area(href="living-data.html")
                //-         li.nav-select__option
                //-             | filter-article
                //-             a.click-area(href="filter-article.html")
                //-         li.nav-select__option
                //-             | map
                //-             a.click-area(href="map.html")
                //-         li.nav-select__option
                //-             | table
                //-             a.click-area(href="table.html")
                //-         li.nav-select__option
                //-             | iframe
                //-             a.click-area(href="iframe.html")
                //-         li.nav-select__option
                //-             | ckeditor
                //-             a.click-area(href="ckeditor.html")
                //-         li.nav-select__option
                //-             | ckeditor-article
                //-             a.click-area(href="ckeditor-article.html")