header#header.header
    .header__logo
        | LOGO
        .subtitle 後台管理
        a.click-area(href="/")
    #header_menu_btn_m.header__hamburger
        i.fas.fa-bars
    .header__menu
        ul.menu
            li#header_menu_close_btn_m.menu__nav.thin.mobile.mobile-order-1
                i.fas.fa-times.rotation-style