#modal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-xl.modal-dialog-scrollable(role='document')
        .modal-content
            .modal-header
                h5.modal-title 紀錄
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                table#table.table-style
                    thead
                        tr
                            th(style="width: 4em; font-weight: bold;") 編號
                            th 版本
                            th 標題
                            th 說明
                            th 發佈人
                            th(style="width: 10em;") 發佈日期
                    tbody
                        tr
                            td 1
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 2
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 3
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 4
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 1
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 2
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 3
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 4
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 1
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 2
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 3
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
                        tr
                            td 4
                            th v0.7
                            td 我是標題
                            td 說明內容
                            td 陳先生
                            td 7/15/2019
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') 關閉
