#modal_company_edit.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-scrollable(role='document')
        .modal-content
            .modal-header
                h5.modal-title 修改新創公司
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 公司名稱
                        input.form-control(type='company_name', placeholder='請輸入公司名稱')
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text Codename
                        input.form-control(type='codename', placeholder='請輸入Codename')
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 統編
                        input.form-control(type='company_id', placeholder='請輸入統編')
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text TOKEN
                        input.form-control(type='company_token', value="4kab3s", disabled)
                .input
                    .custom-control.custom-switch
                        input#customSwitch1.custom-control-input(type='checkbox')
                        label.custom-control-label(for='customSwitch1') 啟用
                .form-division
                    .title 公司相關資訊
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 產業類別
                        select.company-type.form-control
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 公司規模
                        select.form-control
                            option 10人以下
                            option 11~50
                            option 51~200
                            option 201~500
                            option 501人以上
                .form-division
                    .title 新創會員
                table#table.table-style
                            thead
                                tr
                                    th #
                                    th 帳號
                                    th 姓名
                                    th 職稱
                                    th 狀態
                            tbody
                                tr.hover-style(data-toggle='modal', data-target='#modal_member_edit')
                                    td 1
                                    td james@abc.com
                                    td James
                                    td 一般
                                    th 啟用
            .modal-footer
                button.btn.btn-primary(type='button') 儲存送出
                button.btn.btn-secondary(type='button', data-dismiss='modal') 關閉

