#modal_group_add.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-scrollable(role='document')
        .modal-content
            .modal-header
                h5.modal-title 新增權限群組
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 群組名稱
                        input.form-control(type='text', placeholder='輸入權限群組名稱')
                table.table-style
                    thead
                        tr
                            th 功能
                            th 瀏覽
                            th 新增
                            th 編輯
                            th 刪除
                            th 全選
                    tbody
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                        tr
                            td 功能項目
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
                            td
                                input(type='checkbox')
            .modal-footer
                button.btn.btn-primary(type='button') 儲存送出
                button.btn.btn-secondary(type='button', data-dismiss='modal') 關閉
