#modal_group_edit.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-scrollable(role='document')
        .modal-content
            .modal-header
                h5.modal-title 編輯權限群組
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .input
                    .input-group
                        .input-group-prepend
                            .input-group-text 群組名稱
                        input.form-control(type='text', placeholder='最高管理員', value='', disabled)
                table.table-style
                    thead
                        tr
                            th 功能
                            th 瀏覽
                            th 新增
                            th 編輯
                            th 刪除
                            th 全選
                    tbody
                        tr
                            td 功能項目
                            td.p-2
                                .custom-control.custom-switch
                                    input#p1_1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p1_1')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p1_2.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p1_2')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p1_3.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p1_3')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p1_4.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p1_4')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p1_5.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p1_5')
                        tr
                            td 功能項目
                            td.p-2
                                .custom-control.custom-switch
                                    input#p2_1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p2_1')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p2_2.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p2_2')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p2_3.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p2_3')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p2_4.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p2_4')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p2_5.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p2_5')
                        tr
                            td 功能項目
                            td.p-2
                                .custom-control.custom-switch
                                    input#p3_1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p3_1')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p3_2.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p3_2')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p3_3.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p3_3')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p3_4.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p3_4')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p3_5.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p3_5')
                        tr
                            td 功能項目
                            td.p-2
                                .custom-control.custom-switch
                                    input#p4_1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p4_1')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p4_2.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p4_2')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p4_3.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p4_3')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p4_4.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p4_4')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p4_5.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p4_5')
                        tr
                            td 功能項目
                            td.p-2
                                .custom-control.custom-switch
                                    input#p5_1.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p5_1')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p5_2.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p5_2')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p5_3.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p5_3')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p5_4.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p5_4')
                            td.p-2
                                .custom-control.custom-switch
                                    input#p5_5.custom-control-input(type='checkbox')
                                    label.custom-control-label(for='p5_5')
            .modal-footer
                button.btn.btn-primary(type='button') 儲存送出
                button.btn.btn-secondary(type='button', data-dismiss='modal') 關閉
