include ../mixins/input

#register.popup__mask(style="display: none;")
    #register_cancel_button.close-button
        .text 取消註冊
    .popup__wrap
        .popup__header
            span.welcome WELCOME
            span.title 觀迎使用數據創育平台
        #register_term.popup__body(style='display: none;')
            .popup__content
                .form-division
                    .title 使用條款
                .input
                    textarea(rows="20")
                        include ../terms/term

                .input
                    #term_close_button.confirm-button 關閉
        #register_privacy.popup__body(style='display: none;')
            .popup__content
                .form-division
                    .title 隱私權政策
                .input
                    textarea(rows="20")
                        include ../terms/privacy

                .input
                    #privacy_close_button.confirm-button 關閉
        #register_list.popup__body
            .popup__content
                .form-division
                    .title 請輸入電子郵件及密碼
                +input-default('register_account', 'account', '', '電子郵件', '', true)
                +input-password('register_password', 'password', '', '12-16碼英數混合密碼', '必須包含(1)大小寫字母、(2)數字及(3)指定特殊字元(!$%@#*?&))', true)
                +input-password('register_password_confirm', 'password-confirm', '', '再次確認密碼', '', true)
                .form-division
                    .title 請輸入姓名及相關資訊
                .input
                    input#register_name(type="text", name="name", placeholder="中文真實姓名", required='required')
                    input#register_phone(type="text", name="phone", placeholder="手機")
                .input
                    select(name='register_year').select-year
                    select(name='register_sex')
                        option(disabled, selected) 請選擇性別
                        option 男
                        option 女
                .form-division
                    .title 請輸入公司相關資訊(非必填)
                .input
                    input(name='register_company_name', type='text', placeholder='公司名稱')

                    input(name='register_company_id', type='text', placeholder='統編')
                .input
                    input(name='register_company_position', type='text', placeholder='職稱')
                    input(name='register_company_', type='text', placeholder='設立國籍')
                .input
                    select(name='register_company_type').company-type
                    select(name='register_company_size')
                        option(disabled, selected) 公司規模
                        option(value='~30') 30人以下
                        option(value='31~100') 31~100人
                        option(value='101~500') 101~500人
                        option(value='501~') 501人以上
                +input-verify('register_verify', 'verify', '', '請輸入圖形內容')
                .input
                    input#term(name='term', type='checkbox')
                    label(for='term')
                        | 本人已詳閱並同意
                        a#term_button(href='#') 使用條款
                        | 及
                        a#privacy_button(href='#') 隱私權政策
                        | 內容
                .input
                    #register_next_button.confirm-button 下一步
        #register_agreement.popup__body(style='display: none;')
            .popup__content
                .form-division
                    .title 個資使用同意書
                .input
                    textarea(rows="20")
                        include ../terms/personal-info.pug

                .input
                    input#agreement(name='term', type='checkbox')
                    label(for='agreement')
                        | 本人已詳閱並同意「個資使用同意書」內容
                .input
                    #agreement_agree_button.confirm-button 送出
                .input
                    #agreement_disagree_button.gray-button 返回
        #register_complete.popup__body(style='display: none;')
            .popup__content
                .input
                    | 註冊完成！ 請進行會員Email認證！
                    br
                    br
                    | 在尚未認證前，您將無法使用會員專屬各項服務，請務必完成認證流程！
                    br
                    br
                    | ※若沒收到認證信請檢查垃圾信箱
                    br
                    | ※請在24小時內完成認證流程
                .input
                    #register_complete_button.confirm-button 完成

