| 林口創育平臺使用條款
| 中華民國 108 年 07 月 12 日訂定
| 本林口創育平臺使用規則（以下簡稱「本規則」），係針對經濟部中小企業處未來城市大數據應用示範計畫（以下簡稱本計畫），提供林口新創園進駐團隊使用，並以此基礎發展數據交換機制與應用之服務、營運等資料，說明開放資料之使用者權利、義務以及 相關權利事項，且使用者將依循本規則、創育平臺服務授權書（以下簡稱「授權書」）所示方式使用 API 以及相關資料，故 訂定本規則。
| 定義
| 資料提供者：
| 進駐於林口新創園使用此平台所取得或作成之開放資料，並依授權書而釋出予使用者之人或團體。
| 受其他政府機關補助、委辦、委託或其他類似之關係，因而取得或作成之開放資料，並依授權書釋出予使用者之人或團體。
| 其他具有各類電子資料而自願依授權書釋出取得或作成之開放資料之人或團體。
| 使用者：指依本規則約定取得開放資料，並對其利用之自然 人、法人、政府機關或團體，包括遵照本規則之使用者再轉授權利用之人或團體。
| 開放資料：指資料提供者擁有著作財產權、經授權得再轉授 權第三人利用，或其他得以合法使用之資料，並以公開、可修改，且無必要技術限制之格式，而以 Open API 形式提供 者，包括但不限於下列資料：
| 受著作權法保護之著作。
| 其他不受著作權法或其他相關法規保護之資料，並隨同 Open API 形式一併提供者
| 衍生物：指依授權書所提供之開放資料，進行後續重製、改作、編輯或為其他方式利用之修改物。
| 開放資料用
| 資料提供者提供之開放資料，授權使用者得不限時間及地域、非專屬、不可撤回、免授權金進行利用，但不得為商業目的之利用。
| 前項所稱利用，包括針對各式著作之使用，以及其他開發各種非商業目的利用之產品或服務型態之衍生物。
| 使用者得再轉授權他人為第 1 項之利用。
| 使用者依本規則約定利用開放資料，無須另行取得資料提供 者之書面或其他方式授權。
| 本規則約定得利用開放資料之範圍不及於專利權、商標權。
| 若使用者欲就資料提供者所供開放資料進行商業目的之利 用，則須自行洽詢各該資料提供者並協商相關利用事宜。
| 使用者之同意與義務
| 使用者依本規則利用開放資料者，視為確知並同意遵守本規 則所列之約定。
| 使用者依本規則利用開放資料及後續之衍生物，若不符附件 所示之「顯名聲明」要求者，即屬未盡顯名標示義務，視為 自始未取得開放資料之授權，則資料提供者得依法主張其權 利。
| 使用者對開放資料或其衍生物進行公開形式之利用時，須明 確標示開放資料之來源（網站連結），並須標示本規則之日期 版次與網址。 (四)使用者對開放資料進行利用而產生衍生物時，須標示開放資 料已被變更。
| 自林口創育管理平台利用開放資料之使用者，再授權予其他使用者利用開放資料時，亦應與該使用者約定如本規則之要求（特別如：附件所示之顯名聲明）。
| 本規則或其內容變更 本規則如有修正者，使用者仍係依原規則之約定內容使用開放 資料，但新規則公告時，使用者得選擇依新規則之約定使用開 放資料。
| 使用者之權利請求限制
| 使用者依本規則利用開放資料受有損害，或致第三人受有損害而遭求償者，除資料提供者惡意下架開放資料或法令另有 規定外，使用者不得向資料提供者請求任何賠償或補償。
| 使用者依本規則使用開放資料，視為確知資料提供者依授權 書提供之開放資料，非屬任何申述、保證或暗示其推薦、同 意之意思表示，故不得以其使用之開放資料向資料提供者請 求損害賠償或補償。
| 使用者依本規則利用開放資料受有損害，或致第三人受有損 害而遭求償者，除法令另有規定外，使用者不得向資料提供 者請求任何賠償或補償。
| 林口創育平台僅係提供資料提供者放置 API 之平台，並供註冊之會員使用，但不對使用者之使用、任何 不當行為，或資料提供者所提供之資料、API 等內容負擔任 何監督或管理責任，故資料提供者或使用者有任何侵害他人 權益之行為，應自負其責，平台相關管理團隊不負賠償之責。
| 準據法 本規則之解釋、效力、履行及其他未盡事宜，以中華民國法律 為準據法。
| 管轄法院 因本規則所生之相關爭議，以我國台北地方法院作為合意之第 一審專屬管轄法院。