body {
    margin: 0;
    padding: 0;
    // min-height: calc(100vh - #{$header-height});
    font-size: $text-sm;
    font-family: 'Open Sans', 'segoe ui', 'microsoft jhenghei', 'microsoft mhei', stheititc, 'Helvetica Neue', sans-serif !important;
    // color: $gray-5;
    background-color: $gray-1 !important;

    @media (min-width: 1024.98px) {
        font-size: $text-md;
    }

    @media (min-width: 1440px) {
        font-size: $text-lg;
    }
}

#wrapper {
    width: 100%;

    &.fixed {
        position: fixed;
    }
}

@media (max-width: 1024px) {
    #wrapper {
        position: relative;
        margin-right: 0;
        transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1);

        .wrapper__mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            background-color: $mask-color;
            z-index: $z-index-fixed + 1;
            content: '';
        }

        &.fixed-push {
            position: fixed;
            margin-left: -$header-menu-width-m;
        }
    }
}
