.input {
    display: flex;
    align-items: center;
    margin-bottom: $padding-1;
    width: 100%;

    label {
        margin-right: $padding-1;
        font-size: 0.9em;
    }

    textarea {
        width: 100%;
        font-size: 0.8em;
    }

    input:not([type='checkbox']),
    select {
        @include border;

        flex: 1;
        padding: 0 $padding-1;
        min-width: 0;
        height: $input-height;
        font-size: 1em;
        line-height: $input-height;
        color: $black;
        border-radius: $radius;

        &.sm {
            width: 120px;
        }

        + * {
            margin-left: $padding-1;
        }
    }

    input[type='checkbox'] {
        width: $padding-2;
        height: $padding-1;
    }

    &__tip {
        margin-top: -$padding-0;
        padding-bottom: $padding-1;
        width: 100%;
        font-size: 0.7em;
        text-align: right;
        color: $gray-5;
    }

    &__warn {
        width: 100%;
        font-size: 0.875em;
        text-align: center;
        color: #f00;
    }

    .confirm-button {
        position: relative;
        padding: $padding-0 $padding-1;
        flex: 1;
        font-size: 1em;
        text-align: center;
        line-height: 1.8em;
        color: $white;
        background-color: $blue-1;
        cursor: pointer;

        @media (min-width: 1024.98px) {
            @include hover-style-3;
        }
    }

    .gray-button {
        @include border;
        @include hover-style-3;

        position: relative;
        padding: 0 $padding-1;
        flex: 1;
        font-size: 0.875em;
        text-align: center;
        line-height: 1.8em;
        color: $gray-5;
        background-color: $gray-2;
        cursor: pointer;
    }

    .custom-file {
        .custom-file-label {
            margin-right: 0;
            margin-left: 0;

            &::after {
                content: '瀏覽檔案';
            }
        }
    }
}

.form-division {
    position: relative;
    margin: $padding-1 0;
    width: 100%;
    height: 1px;
    background-color: $gray-4;

    > .title {
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0 $padding-0;
        font-size: 0.9em;
        font-weight: bold;
        white-space: nowrap;
        color: $gray-4;
        background-color: $gray-1;
        transform: translate(-50%, -50%);
    }
}

.input-wrap {
    position: relative;
    flex: 1;

    &__required-warn {
        position: absolute;
        top: 50%;
        right: $padding-0;
        font-size: 0.7em;
        color: #f00;
        transform: translateY(-50%);
    }

    + * {
        margin-left: $padding-1;
    }

    input,
    select {
        width: 100%;
    }
}

::placeholder {
    font-size: 0.8em;
    color: $gray-4;
}
