.pt-0 {
    padding-top: 0 !important;
}

hr {
    margin: $padding-1 0;
    opacity: 0.2;
}

.isIE {
    .isIE-annotation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #fff;
        z-index: 10;
    }

    #wrapper {
        display: none !important;
    }
}

.click-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.menu {
    .click-area {
        &:focus {
            font-weight: bolder;
            text-align: center;
            background-color: #ffbf47;
            opacity: 1;
            z-index: -1;

            ~span {
                font-weight: bolder;
                color: #000;
            }
        }
    }
}

#section {
    .btn-primary {
        color: $white;
        background-color: $blue-1;
        border-color: $blue-1;

        &:hover,
        &:visited,
        &:active {
            background-color: $blue-3;
            border-color: $blue-3;
        }

        &.active {
            background-color: $blue-3;
        }
    }
}

h5 {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .pc {
        display: none !important;
    }
}

@media (min-width: 1024.98px) {
    .mobile {
        display: none !important;
    }
}