.pt-0 {
    padding-top: 0 !important;
}

hr {
    margin: $padding-1 0;
    opacity: 0.2;
}

.click-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

#section {
    .btn-primary {
        background-color: $blue-1;
        border-color: $blue-1;

        &:hover,
        &:visited,
        &:active {
            background-color: $blue-3;
            border-color: $blue-3;
        }
    }
}

h5 {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .pc {
        display: none !important;
    }
}

@media (min-width: 1024.98px) {
    .mobile {
        display: none !important;
    }
}