.pt-0 {
    padding-top: 0 !important;
}

hr {
    margin: $padding-1 0;
    opacity: 0.2;
}

.click-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
