$text-sm: 16px;
$text-md: 18px;
$text-lg: 18px;

$white: #fff;
$black: #000;

$gray-1: #f4f7f6;
$gray-2: #efefef;
$gray-3: #ddd;
$gray-4: #aaa;
$gray-5: #707070;

$blue-1: #5fa9cb;
$blue-2: #1f9ed8;
$blue-3: #3880a1;

$padding-0: 8px;
$padding-1: 15px;
$padding-2: 30px;
$radius: 6px;

$input-height: 2.4em;

$header-height: 70px;
$nav-option-width: 180px;
$nav-option-height: 40px;

$banner-height: 300px;

$sidebar-width: 300px;

$footer-height: 120px;
$copyright-height: 30px;

$transition: 0.2s;
$z-index-popup: 4;
$z-index-fixed: 3;
$z-index-absolute: 2;
$z-index-default: 1;

$mask-color: rgba(0, 0, 0, 0.85);


